<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Sami. It uses data from <a href="http://www.mapbox.com" target="_blank">mapbox.com</a> and <a href="http://www.darksky.net" target="_blank">darksky.net</a></p>
        <p><img  class="portait" src="/img/Royalty_Free_Coffee.jpg" alt="No image available"></p>
    </div>
    
    {{>footer}}
<p>&nbsp;</p>
</body>
</html>